[user]
    name = Ingmar Delsink
    email = ingmardelsink@hotmail.com
    signingkey = 6EF46E6E

[alias]
    # I would greatly appreciate it if you kindly give me some status
    st = status

[commit]
    gpgsign = true

[push]
    default = simple

[core]
    editor = vim
    pager = less

[color]
    ui = auto
    branch = auto
    diff = auto
    interactive = auto
    status = auto
